<div class="top2">
  <div class="container bechdel">
    <h3 class="bechdel__title">The Bechdel Test</h3>

    <h4 class="bechdel__criteria">
      1. The movie has to have at least two women in it...<br>
      2. ...who talk to each other<br>
      3. ...about something besides a man.
    </h4>

    <p>
      <a class="bechdel__link" href="https://en.wikipedia.org/wiki/Bechdel_test">Find out more about the Bechdel Test.</a>
    </p>
  </div>
</div>

<div class="contents">
  <div class="container rated">
    <h1 class="rated__title">
      Rated Movies
    </h1>

    <% if @bechdel_rated != nil %>
      <% @bechdel_pass.each_with_index do |movie, i| %>
        <div class="movie rated">
          <a href="/movies/<%= movie.movie_id %>/view">
            <img class="rated__poster" src="<%= movie.movie_info.image %>">
          </a>
          


        </div>
      <% end %>
    <% else %>
      <p>No Bechdel results yet.</p>
    <%end%>
  </div>
</div>
