.supercontainer{
	display: flex;
	min-height: 100vh;
	padding-right: 400px;
	padding-left: 400px;
	

}

.contain{
	display: flex;
	flex-direction: column;
	flex: 1;
}

.top1{
	height: 60px;
	width: 100%;
	background-color: #FFFFFF;
}

.top2{
	height: 90px;
	width: 100%;
	background-color: #1b1c1e;
}


.contents{
	height: 300px;
	flex: 1;
	background-color: #000000;
}
.bottom{
	height:180px;
	width: 100%;
	background-image: url("old-movie.jpg");
	background-size: 100% 100%;
}